.aboutme1 {
    font-size: 17px;
    font-family: serif;
    font-weight: normal;
    font-style: normal;
  }
  .aboutme2 {
    font-size: 17px;
    font-family: serif;
    font-weight: bold;
    font-style: normal;
  }